[submodule "deps/limbo"]
	path = deps/limbo
	url = git@git.cs.lth.se:ma4027ma/limbo
[submodule "deps/robot_dart"]
	path = deps/robot_dart
	url = https://github.com/resibots/robot_dart.git
[submodule "deps/dart"]
	path = deps/dart
	url = https://github.com/dartsim/dart.git
[submodule "deps/magnum"]
	path = deps/magnum
	url = https://github.com/mosra/magnum.git
[submodule "deps/corrade"]
	path = deps/corrade
	url = https://github.com/mosra/corrade.git
[submodule "deps/magnum-plugins"]
	path = deps/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "deps/magnum-integration"]
	path = deps/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "deps/hypermapper"]
	path = deps/hypermapper
	url = https://github.com/luinardi/hypermapper.git
